.page-title {
    color: white;
    background-color: black;
    font-family: "Courier", sans-serif;
    text-align: center;
    padding: 10px;
}
.symbol {
    font-family: "Courier", sans-serif;
    color: orange;
    text-align: right;
    font-size: 30px;
}
.page-subtitle {
    font-family: "Courier", sans-serif;

}
.link {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 10px;
    outline: 2px solid black;
}

.text {
    margin: 50px;
    font-family: "Courier", sans-serif;
}

.text.header {
    margin:0;
    text-align: left;
}

